@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"),
    url("./fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"),
    url("./fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"),
    url("./fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"),
    url("./fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Tajawal";
  src: local("Tajawal"),
    url("./fonts/Tajawal/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
}

body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
